{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css%} 
<link rel="stylesheet" href="{% static 'css/login/login.css' %}">
{% endblock %}
{% block title %} Login {% endblock%}
{% block content %}
    <div class="container_login ">
        <img src="{% static 'img/login/login-a.jpg' %}" class="back_login" alt="Responsive image"/>
        <div class="container">
        <img class="animated flip" id="logo" src="{% static 'img/login/logo.png'%}" />
            <form class="animated bounceInDown form_login" method="POST">
                {% csrf_token %}
                {{forms|crispy}}
                <input type="submit" class="btn btn-success w-100 btn-lg mb-2" value="Entrar"/>
                <p>¿No tienes cuenta? <a href="{% url 'register' %}">Registrar nuevo usuario</a></p>
            </form>
            
        </div>
    </div>
{% endblock %}